<!doctype html>
<html lang='fr'>

<head>
  <meta charset="utf-8">
  <title>Bioinfo</title>
  <link rel="stylesheet" href="Stylesheet/index.css"> </head>

<body>
  <header id="header" class="header" role="banner">
    <div class="banner_div">
      <p1>Interface Centralisation API</p1>
    </div>
  </header>
  <div class="research" id="button_search">
    <div id='global'>
      <form id="form_snpInfo" method="post" action="/testAPIEnsembl">
        <div id='test'>
          <input type="search" name="rs" placeholder="Search for rs" id="rs" class="rs" /> <span id="string-msg">Exemple :   rs699</span>
          <br />
          <label id='pop'>Population : </label>
          <select id='select_name' name="population">
            <%
        if (data) {
          for (let i in data) {
          %>
              <option value="<%= data[i].name %>">
                <%= data[i].desc %>
              </option>
              <%
        }
        }
        %>
          </select>
          <label id="wind_size">Windows size : </label>
          <select id='select_size' name="size">
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="150">150</option>
            <option value="200">200</option>
            <option value="250">250</option>
            <option value="300">300</option>
            <option value="350">350</option>
            <option value="400">400</option>
            <option value="450">450</option>
            <option value="500">500</option>
          </select>
          <br /> </div>
        <div id='input_id'>
          <input type="submit" id="submit_id" class="submit" value="Research" /> </div>
      </form>
    </div>
    <form id="form_loc" method="post" action="/location">
      <div id='search_loc'>
        <input type="search" placeholder="Search for location" name="location" id="location" />
        <input type="search" placeholder="Nb max de rs recupere" name="location_nbMax" id="location_nbMax" />
        <label id='pop'>Population : </label>
        <select id='select_name' name="population">
          <%
        if (data) {
          for (let i in data) {
          %>
            <option value="<%= data[i].name %>">
              <%= data[i].desc %>
            </option>
            <%
        }
        }
        %>
        </select>
        <label id="wind_size">Windows size : </label>
        <select id='select_size' name="size">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="150">150</option>
          <option value="200">200</option>
          <option value="250">250</option>
          <option value="300">300</option>
          <option value="350">350</option>
          <option value="400">400</option>
          <option value="450">450</option>
          <option value="500">500</option>
        </select>
        <br /> </div>
      <div id='submit_loc'>
        <input type="submit" id="submit_location" class="submit_location" value="Research" /> </div>
    </form> <span id="string-msg">Exemple :  10:95000000-96000000</span>
    <div id="RsIdbox">
      <form id="form_fileup" method="post" action="/fileup" enctype="multipart/form-data">
        <input type='file' id="file" name='fileToUpload'>
        <br /> <span id="string-msg">Liste de rs_id (un/ligne)</span>
        <br />
        <label id='pop'>Population : </label>
        <select id='select_name' name="population">
          <%
        if (data) {
          for (let i in data) {
          %>
            <option value="<%= data[i].name %>">
              <%= data[i].desc %>
            </option>
            <%
        }
        }
        %>
        </select>
        <label id="wind_size">Windows size : </label>
        <select id='select_size' name="size">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="150">150</option>
          <option value="200">200</option>
          <option value="250">250</option>
          <option value="300">300</option>
          <option value="350">350</option>
          <option value="400">400</option>
          <option value="450">450</option>
          <option value="500">500</option>
        </select>
        <input type='submit' id="valid" value='valider'>
        <br/> </form>
    </div>
  </div>
  <div id='lien'> </div>
  <footer id="footer" class="footer" role="footer">
    <div class="footer-div">
      <div id='team_dev'>
        <p> Equipe PFE EFREI</p>
        <p>Developpeur : Galinou Silouane (silouane.galinou@efrei.net), Payet Xavier (xavier.payet@efrei.net)</p>
      </div>
      <!--<div id='autres'>
        <p>BI : Carette Julien, Puill Robin</p>
      </div>--></div>
  </footer>
</body>
