<!doctype html>
<html lang='fr'>

<head>
  <meta charset="utf-8">
  <title>Test API Ensembl</title>
  <link rel="stylesheet" href="Stylesheet/APIEnsembl.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.ncbi.nlm.nih.gov/projects/sviewer/js/sviewer.js"></script>
</head>

<body>
  <div id='global'>
    <header id="header" class="header" role="banner">
      <div class="banner_div">
        <div id="acceuil">
          <a href="/"><img id="logo" src="img/logo.png" alt="logo" width="42" height="42" /></a>
        </div>
        <div id="dl">
          <label for="champ_nom_file">Nom du fichier texte a dl</label>
          <form id="form_file_name" method="post" action="">
            <input type="text" id="champ_nom_file" name="name_file" placeholder="SNPInfo.txt"> </form> <a href="snpi.txt" download="snpi.txt">Télécharger en TXT</a> </div>
      </div>
    </header>
    <!--  -->
    <div id='all_content'>
      <div id='liste_rs'>
        <% for (let i = 0; i < data.length; i++) {
      if(data[i]){%>
          <div id='liste_id'>
            <%= data[i].name %>
              <button type="button" class="btn_info" data-toggle="collapse" data-target="#inner_content_glob<%= i %>">+</button>
          </div>
          <% } }%>
      </div>
      <div id='content'>
        <%for (let i = 0; i < data.length; i++) {%>
          <div id='inner_content_glob<%= i %>' class="collapse">
            <%if (data[i]) { %>
              <div id="RsIdbox">
                <%= data[i].name %>
              </div>
              <div id="inner-content">
                <div id='contentEnsembl'>
                  <p>Ensembl Information</p>
                  <div id="info_rs_ensembl">
                    <table id="info_base">
                      <tr>
                        <th>Consequence</th>
                        <td>
                          <%=data[i].conseq %>
                        </td>
                      </tr>
                      <tr>
                        <th>Allele</th>
                        <td>
                          <%=data[i].allele %>
                        </td>
                      </tr>
                      <tr>
                        <th>MAF</th>
                        <td>
                          <%= data[i].maf %> (
                            <%= data[i].minor %>)
                        </td>
                      </tr>
                      <tr>
                        <th>Ancestral</th>
                        <td>
                          <%= data[i].ancestral %>
                        </td>
                      </tr>
                      <tr>
                        <th>Location (38)</th>
                        <td>
                          <%= data[i].location %>
                        </td>
                      </tr>
                      <tr>
                        <th>Location (37)</th>
                        <td>
                          <%= data[i].location2 %>
                        </td>
                      </tr>
                      <tr>
                        <th>VCF</th>
                      </tr>
                      <tr>
                        <th>Start</th>
                        <td>
                          <%= data[i].start %>
                        </td>
                      </tr>
                      <tr>
                        <th>End</th>
                        <td>
                          <%= data[i].end %>
                        </td>
                      </tr>
                      <tr>
                        <th>Sequence_Region</th>
                        <td>
                          <%= ' Chromosome : '+ data[i].seq %>
                        </td>
                      </tr>
                      <tr>
                        <th>Clinical Significance</th>
                        <td>
                          <%= data[i].clinicSigni %>
                        </td>
                      </tr>
                      <tr>
                        <th>Variant</th>
                        <td>
                          <%
        for (let j in data[i].variant) {
      %>
                            <%= data[i].variant[j]%>
                              <br/>
                              <% }
      %>
                        </td>
                      </tr>
                      <tbody> </tbody>
                    </table>
                  </div>
                </div>
                <div id='contentGtext'>
                  <p>GTEX Information</p>
                  <div id="info_rs_gtex">
                    <table id="info_var_gen">
                      <thead id="tabl_var_thead">
                        <th>Genecode Id</th>
                        <th>Gene symbol</th>
                        <th>P-Value</th>
                        <th>Tissue</th>
                      </thead>
                      <tbody>
                        <% for (let k in data[i].gtexvalue) {
              %>
                          <tr>
                            <td>
                              <%= data[i].gtexvalue[k].geneid%>
                            </td>
                            <td>
                              <%= data[i].gtexvalue[k].symbol%>
                            </td>
                            <td>
                              <%= data[i].gtexvalue[k].pvalue%>
                            </td>
                            <td>
                              <%= data[i].gtexvalue[k].tissu%>
                            </td>
                          </tr>
                          <%
            }
            %>
                      </tbody>
                    </table>
                    <br />
                    <table id="info_var_gen">
                      <thead id="tabl_var_thead">
                        <th>Variant Id</th>
                        <th>r²</th>
                      </thead>
                      <tbody>
                        <% for (let j in data[i].r2) {
              %>
                          <tr>
                            <td>
                              <a href="/?rs=<%= data[i].r2[j].nom %>&amp;pop=<%=data[i].pop%>&amp;size=<%= data[i].size %>" onclick="window.open(this.href); return false;">
                                <%= data[i].r2[j].nom %>
                              </a>
                              <%= %>
                            </td>
                            <td>
                              <%= data[i].r2[j].r2%>
                            </td>
                          </tr>
                          <%
            }
            %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div id='contentGwas'>
                  <p>GWAS Information</p>
                  <div id="info_rs_gwas">
                    <table id="info_var_gen">
                      <thead id="tabl_var_thead">
                        <th>Name</th>
                        <th>RiskFrequency</th>
                        <th>pvalue</th>
                        <th>range</th>
                        <th>Or</th>
                        <th>Traits</th>
                        <th>Study</th>
                      </thead>
                      <tbody>
                        <% for (let j in data[i].gwasvalue) { %>
                          <tr>
                            <td>
                              <%= data[i].gwasvalue[j].name%>
                            </td>
                            <td>
                              <%= data[i].gwasvalue[j].riskFrequency%>
                            </td>
                            <td>
                              <%= data[i].gwasvalue[j].pvalue%>
                            </td>
                            <td>
                              <%= data[i].gwasvalue[j].range%>
                            </td>
                            <td>
                              <%= data[i].gwasvalue[j].or%>
                            </td>
                            <td>
                              <%= data[i].gwasvalue[j].trait.listname[0]%> <a href=" <%= data[i].gwasvalue[j].trait.traitlink%>">Trait</a> </td>
                            <td>

                              <!-- <form id='form_study' methode='post' action='/study'>
                            <input type='submit' id="valid" value='Study'> </form><a href='#study_<%= j %>' class="btn_info" data-toggle="collapse" data-target="#study_<%= j %>">More</a>-->

                            </td>
                          </tr>
                          <%
                        }
                         %>
                      </tbody>
                    </table>
                    <% } %>
                  </div>
                </div>
              </div>
          </div>
          <% } %>
      </div>
    </div>
  </div>


  <script>
    function myFunction(i, j) {
      var popup = document.getElementById("study_" + i + "_" + j)
      popup.classList.toggle("show")
      console.log(popup.innerText)
    }

  </script>
</body>


</html>
