<!doctype html>
<html lang='fr'>

<head>
  <meta charset="utf-8">
  <title>Test API Ensembl</title>
  <link rel="stylesheet" href="Stylesheet/APIEnsembl.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://www.ncbi.nlm.nih.gov/projects/sviewer/js/sviewer.js"></script>
</head>

<body>
  <div id='content'>
    <% 
    for (let i = 0; i < data.length; i++) {
      console.log('data : ' +  data[i])
    if (data[i]) { %>
      <div id="RsIdbox">
        <%= data[i].name %>
          <!-- <form id="form_fileup" method="post" action="/testAPIEnsembl/fileup" enctype="multipart/form-data[i]">
            <input type='file' id="file" name='fileToUpload'>
            <br/>
            <input type='submit' value='valider'> </form>-->
      </div>
      <div id='inner-content'>
        <div id='contentEnsembl'>
          <p>Ensembl Information</p>
          <div id="info_rs">
            <table id="info_base">
              <tr>
                <th>Consequence</th>
                <td>
                  <%= data[i].conseq %>
                </td>
              </tr>
              <tr>
                <th>Allele</th>
                <td>
                  <%= data[i].allele %>
                </td>
              </tr>
              <tr>
                <th>MAF</th>
                <td>
                  <%= data[i].maf %>
                </td>
              </tr>
              <tr>
                <th>Ancestral</th>
                <td>
                  <%= data[i].ancestral %>
                </td>
              </tr>
              <tr>
                <th>Location</th>
                <td>
                  <%= data[i].location %>
                </td>
              </tr>
              <tr>
                <th>VCF</th>
              </tr>
              <tr>
                <th>Start</th>
                <td>
                  <%= data[i].start %>
                </td>
              </tr>
              <tr>
                <th>End</th>
                <td>
                  <%= data[i].end %>
                </td>
              </tr>
              <tr>
                <th>Sequence_Region</th>
                <td>
                  <%= data[i].seq %>
                </td>
              </tr>
              <tr>
                <th>Clinical Significance</th>
                <td>
                  <%= data[i].clinicSigni %>
                </td>
              </tr>
              <tr>
                <th>Variant</th>
                <td>
                  <%
        for (let j in data[i].variant) {
      %>
                    <%= data[i].variant[j] %>
                      <br/>
                      <%
        }
      %>
                </td>
              </tr>
              <tbody> </tbody>
            </table>
          </div>
        </div>
        <div id='contentGtext'>
          <p>GTEX Information</p>
          <div id="info_rs">
            <table id="info_var_gen">
              <thead id="tabl_var_thead">
                <th>Genecode Id</th>
                <th>Gene Symbol</th>
                <th>Variant Id</th>
                <th>SNP</th>
              </thead>
              <tbody>
                <% for (let j in data[i].gtexvalue) {
              %>
                  <tr>
                    <td>
                      <%= data[i].gtexvalue[j].geneid%>
                    </td>
                    <td>
                      <%= data[i].gtexvalue[j].symbol%>
                    </td>
                    <td>
                      <%= data[i].gtexvalue[j].variantid%>
                    </td>
                    <td>
                      <%= data[i].gtexvalue[j].snp%>
                    </td>
                  </tr>
                  <%
            }
            %>
              </tbody>
            </table>
            <% } } %>
          </div>
        </div>
        <div id='contentGwas'>
          <p>GWAS Information</p>
          <div id="info_rs">
            <p>test 3</p>
          </div>
        </div>
      </div>
  </div>
  <script type="text/javascript">
    /*
                                                                                        function ajax(page, callback, post) {
                                                                                          var xhr
                                                                                          if (window.XMLHttpRequest || window.ActiveXObject) {
                                                                                            if (window.XMLHttpRequest) {
                                                                                              xhr = new XMLHttpRequest()
                                                                                            } else {
                                                                                              try {
                                                                                                xhr = new ActiveXObject("Msxml2.XMLHTTP")
                                                                                              } catch (e) {
                                                                                                xhr = new ActiveXObject("Microsoft.XMLHTTP")
                                                                                              }
                                                                                            }
                                                                                          } else {
                                                                                            document.location.href = page
                                                                                          }
                                                                                          xhr.onreadystatechange = function() {
                                                                                            if (typeof callback != "undefined") {
                                                                                              callback(xhr.responseText);
                                                                                            }
                                                                                          };
                                                                                          xhr.open("GET", page, true)
                                                                                          xhr.send(null)
                                                                                        }
                                                                                        ajax("SNP.txt", function(data[i]) {
                                                                                          console.log(data[i])
                                                                                          document.body.innerHTML = data[i].split(/\n/g)[0] // blabla
                                                                                        })
                                                                                    */

  </script>
</body>

</html>
